ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

li {
    margin: 10px 0; 
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}